#cloud-config
# set locale
locale: en_US.UTF-8

# set timezone
timezone: Europe/Warsaw

# add ssh passwordless login
# as root @kvm host: eval `ssh-agent`; ssh-add ~/.ssh/id_rsa
users:
  - name: root
    gecos: Marko Stanojlovic
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users
    lock_passwd: true
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDb1thig7iXs1ssHYYeIRDeFcWUOT9vLy3nDUp1rFevbLQ6zKdviVdHQdkSICSvLRsOVh1XzfzTNjbbNtWffaVV/Hc6Ir2P3VWn6cXev6+uLT2bvpmdoffyQwGiaOLREDpA8D+ESILB25q+LxDtfoOqirdnppP/beFCgVxyYM1r+EVVEhS5RkemMfgcuZmick1XfPdVld1JBi+C0pnqC6KjXSepdW/A3Uw9VdkWiOFCK8oR0SVgPb/8OU1uD2rLO23krwna8s1Qn0cShrPlFlaUSgIgPHNdfslkhUDD6RcHRwfxEVbs+hZ8XRFnnxsvKj3P5i69DjoOZNGUY7fSarSh root@millfalcon 
#packages:
#  - ceph
#  - ceph-deploy
#  - ceph-radosgw
#package_update: true
#package_upgrade: true
#package_reboot_if_required: true

write_files:
  - path: /etc/ntp.conf
    owner: root:ntp
    permissions: '0640'
    content: |
      restrict -4 default notrap nomodify nopeer noquery
      restrict -6 default notrap nomodify nopeer noquery
      restrict 127.0.0.1
      restrict ::1
      driftfile /var/lib/ntp/drift/ntp.drift # path for drift file
      logfile   /var/log/ntp          # alternate log file
      keys /etc/ntp.keys              # path for keys file
      trustedkey 1                    # define trusted keys
      requestkey 1                    # key (7) for accessing server variables
      controlkey 1                    # key (6) for accessing server variables
      server cz.pool.ntp.org iburst

runcmd:
  - /usr/bin/systemctl enable --now ntpd

final_message: "The system is finally up, after $UPTIME seconds"
